body{
    background-color:tomato;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

h1{
    font-size:36px;
}



.container{
    width: 45%;
    height: auto;
    background-color: rgba(255,255,255,0.5);
    margin: 5% auto 0;
    padding: 80px;
    border-radius:8px;

}

.container__interno{
    text-align:center;
    
}

.container__interno-head{
    position: relative;

}

.container__interno-timer-disp{
    font-size:80px;
    letter-spacing: 8px;
}

.container__interno-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.botao{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius:5px;
    background-color:tomato;
}

.botao-blink{
    background-color:rgba(255,255,255,0.4);
    
}

.container__interno-config__label{
    width: 150px;
    display: inline-block;
}

.container__interno-config__input{
    width: 80px;
    height: 30px;
}

.container__interno-config__interno{
    width: 25%;
    margin: 0 auto;
}


.rodape{
    background-color:rgba(255,255,255,0.5);
    height: 25px;
}

.cog{
    position: absolute;
    right:2px;
    top:2px;
    cursor:pointer;    
}



.cog i{
    font-size: 28px;
}

.invisible{
    display:none;
}