body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;    
}

.session{
    background-color: tomato;
}

.short{
    background-color: blueviolet;


}

.long{
    background-color:#8ff5b8 ;


}

h1{
    font-size:36px;
}



.container{
    width: 45%;
    height: 45%;
    background-color: rgba(255,255,255,0.25);
    margin: 5% auto 0;
    /*padding: 40px 20px;*/
    border-radius:8px;

}

.container__interno{
    text-align:center;
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    
}

.container__interno-head{
    position: relative;

}

.container__interno-timer-disp{
    font-size:80px;
    letter-spacing: 8px;
}

.container__interno-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.botao{
    width: 100px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius:5px;
}

.botao:active{
    transform: translate(1px,1px);
}

.botao-blink{
    background-color:rgba(255,255,255,0.35);
    
}

.container__interno-head__type{
    display: inline-block;
    width: fit-content;
    padding:5px 40px;
    background-color:rgba(255,255,255,0.25);
    border-radius: 9px;
    margin-bottom: 10px;

}

.container__interno-config__label{
    width: 150px;
    display: inline-block;
}

.container__interno-config__input{
    width: 80px;
    height: 30px;
}

.container__interno-config__interno{
    width: 25%;
    margin: 0 auto;
}


.rodape{
    background-color:rgba(255,255,255,0.5);
    height: 25px;
}

.cog{
    position: absolute;
    right:15px;
    top:2px;
    cursor:pointer;    
}



.cog i{
    font-size: 28px;
}

.invisible{
    display:none;
}